

<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links    navbar-nav -->
  
  <ul class="toolbar">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/proyectos">Proyectos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quienes">Quienes somos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contacto/:variable">Contacto</a>
    </li>
  </ul>

</nav>
<!-------  ----------------------     Prueba Menrry arriba                               -->


<router-outlet></router-outlet>

